*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    background: #fafafa;
    z-index: 1000;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.nav .logo-box{
    display: flex;
    align-items: center;
}
.nav .logo-box img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.nav .logo-box .logo{
    font-size: 20px;
    margin: 10px;
    color: #000;
}
.navbar{
    display: flex;
}
.navbar a{
    margin: 10px;
    color: #000;
    transition: 0.3s all ease-in;
}
.navbar a:hover{
    color: lightgreen;
    transition: 0.3s all ease-in;
}
#menu-icon{
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    height: 100vh;
}
.home .home-box{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    animation: changImg 10s infinite ease-in-out;
}
.home-box .home-content-text{
    margin-top: 10%;
    margin-left: 10%;
    color: #fff;
}
.home-box .home-content-text h1{
    font-size: 3rem;
    margin: 10px;
}
.home-box .home-content-text p{
    margin: 10px;
}
.home-content-text .home-btn{
    width: 140px;
    height: 40px;
    background: lightgreen;
    color: #000;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes changImg{
    0%{
        background-image:linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home2.jpg);
    }
    20%{
        background-image: linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home3.jpg);
    }
    40%{
        background-image: linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home4.jpeg);
    }
    60%{
        background-image: linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home5.jpeg);
    }
    80%{
        background-image: linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home6.jpeg);
    }
    100%{
        background-image: linear-gradient(to right, rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(home7.jpeg);
    }
}

.content{
    width: 100%;
    background: darkgreen;
}
.content .content-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}
.content-box .container-content-box{
    background: #fafafa;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.content-box .container-content-box h1{
    font-size: 2rem;
    margin: 10px;
}
.content-box .container-content-box p{
    margin: 10px;
}
.about{
    width: 100%;
    background: #fafafa;
}
.about .about-content-container-box{
    background: #1a2421;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
}
.about-content-container-box .about-content-box-img{
    width: 200%;
    margin: 10px;
}
.about-content .about-content-box-img img{
    width: 100%;
    border-radius: 10px;
}
.about-content-container-box .about-content-box-text h1{
    margin: 10px;
    font-size: 2rem;
}
.about-content-container-box .about-content-box-text p{
    margin: 10px;
    font-size: 1.2rem;
}
.about-content-box-text .about-btn{
    width: 100px;
    height: 40px;
    background: darkgreen;
    color: #fff;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
.service{
    width: 100%;
    background: #fafafa;
}
.service .service-text{
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
}
.service .service-text span{
    color: lightgreen;
}
.service .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
}
.service-content .service-content-box{
    background: #fafafa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.service-content .service-content-box .service-content-box-img{
    width: 100%;
    height: 260px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.service-content .service-content-box .service-content-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.service-content-box .service-content-box-text{
    position: absolute;
    bottom: -100%;
    color: #fff;
    width: 100%;
    height: 100%;
    background: #1a24217c;
    backdrop-filter: blur(30px);
    transition: 0.4s all ease-in;
}
.service-content-box:hover .service-content-box-text{
    bottom: 0;
    transition: 0.4s all ease-in;
}
.service-content-box .service-content-box-text h4{
    font-size: 1rem;
    margin: 20% 10%;
}
.success-stories{
    width: 100%;
    background: #fafafa;
    padding: 1rem;
}
.success-stories .success-stories-text{
    padding: 2rem;
    text-align: center;
}
.success-stories .success-stories-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: #1a2421;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}
.success-stories-content .success-stories-content-img{
    width: 100%;
    height: 100%;
    margin: 10px;
}
.success-stories-content .success-stories-content-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.success-stories-content .success-stories-content-text{
    margin: 10px;
}
.success-stories-content .success-stories-content-text h1{
    margin: 10px;
}
.success-stories-content .success-stories-content-text p{
    margin: 10px;
    font-size: 1.2rem;
}
.container .container-box a{
    color: #fff;
    margin: 5px;
}
.contact{
    width: 100%;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #fafafa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.contact-content .contact-content-box-img{
    width: 450px;
    margin: 5px;
    border-radius: 10px;
}
.contact-content .contact-content-box-img img{
    width: 100%;
    border-radius: 10px;
}
.contact-content-box-form{
    background: 0;
    margin: 5px;
}
.contact-content-box-form .contact-box-form{
    background: 0;
    margin: 5px;
}
.contact-content-box-form .contact-text{
    padding: 10px;
}
.contact-content-box-form .contact-box-form .contact-box-input input{
    width: 250px;
    height: 45px;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}
.contact-content-box-form textarea{
    width: 510px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    outline: none;
}
.contact-btn{
    width: 100px;
    height: 45px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background: darkgreen;
    color: #fff;
}
.footer{
    width: 100%;
    background: #1a2421;
}
.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.footer-content-box{
    background: none;
    margin: 10px;
}
.footer-content-about .footer-content-about-logo{
    display: flex;
    align-items: center;
}
.footer-content-about-logo .footer-about-logo{
    color: #fff;
}
.footer-content-about p{
    margin: 10px;
    color:#fff
}
.footer-content-about i{
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
}
.footer-content-about-logo img{
    width: 40px;
    margin: 10px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
}
.footer-links h1{
    color: #fff;
}
.footer-links a{
    margin: 10px;
    font-size: 20px;
    color: #fff;
    transition: 0.3s all ease-in;
}
.footer-links a:hover{
    color: #fafafa;
    transition: 0.3s all ease-in;
}



@media(max-width: 834px){
    #menu-icon{
        display: flex;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 100%;
        background: #fafafa;
        width: 260px;
        height: 350px;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        display: flex;
        transition: 0.4s all ease-in;
    }
    .navbar a{
        font-size: 1.5rem;
        margin: 10px;
    }
    .navbar.add{
        right: 0;
        transition: 0.4s all ease-in;
    }
    .about-content-container-box{
        flex-wrap: wrap;
    }
    .logo{
        font-size: 25px;
        font-weight: 700;
    }
    .footer-content{
        flex-wrap: wrap;
    }
    .success-stories .success-stories-content{
        flex-wrap: wrap;
    }
    
    .contact .contact-content{
        flex-wrap: wrap;
    }
    .contact-content-box-form .contact-box-form .contact-box-input input{
        width: 100%;
    }
    .contact-content .contact-content-box-img{
        width: 100%;
        margin: 5px;
        border-radius: 10px;
    }
    .contact-content .contact-content-box-img img{
        width: 100%;
        border-radius: 10px;
    }
    .contact-content-box-form textarea{
        width: 100%;
    }
}